natsort==8.4.0
numpy==1.26.4
opencv-python-headless==4.11.0.86
astropy==7.2.0
packaging
psutil==7.2.1
pycairo==1.29.0
appdirs==1.4.4
PyGObject==3.54.5
pystackreg==0.2.8
PyWavelets==1.9.0
rawpy==0.25.1
