cycler==0.10.0
imageio==2.8.0
numpy==1.18.1
opencv-contrib-python==4.2.0.32
opencv-python==4.2.0.32
Pillow==7.0.0
pycairo==1.19.1
PyGObject==3.34.0
pystackreg==0.2.2
python-dateutil==2.8.1
PyWavelets==1.1.1
scipy==1.4.1
sh==1.12.14
six==1.14.0
tqdm==4.43.0
