html {
    height: 100%;
}

body {
    font-family: 'DIN-Regular', 'Helvetica', 'Arial', 'Verdana', sans-serif;
    margin: 0;
    background: #F8F8F8;
    overflow-x: hidden;
    height: 100%;
}

h1, h2, h3, h4, h5, h6, h7 {
    font-family: 'DINPro Medium', 'Helvetica', 'Arial', 'Verdana', sans-serif;
    margin: 0.5em 0 0.25em 0;
}

div#header_container {
    height: 200px;
    background: #00002f url('../images/header.png');
    background-size: auto 200px;
    width: auto;
    color: #FFFFFF;
}

div#header_container h1 {
    margin: 0;
    font-size: 2.5em;
}

div#header_container h2 {
    margin-bottom: 0;
    font-weight: normal;
    font-size: 1.25em;
}

div#header {
    position: relative;
    max-width: 960px;
    padding: 0 20px 0 20px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}

div#logo {
    height: 200px;
    display: inline-block;
    vertical-align: middle;
}

div#logo a {
    display: block;
    height: 200px;
    width: 200px;
    background: url('../images/logo.png');
    background-size: 100% 100%;
}

div#title {
    display: inline-block;
    vertical-align: middle;
    padding: 1em;
    text-shadow: 5px 5px 10px black;
}

a#github {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: url("../images/blacktocat.png") #0055aa no-repeat 95% 50%;
    padding: 10px 50px 10px 10px;
    color: white;
    font-weight: bold;
    font-family: 'DINPro Medium', 'Helvetica', 'Arial', 'Verdana', sans-serif;
    box-shadow: 0 0 20px #000000;
    text-decoration: none;
}

a#github:hover {
    text-decoration: underline;
}

div#nav_container {
    height: 50px;
    width: 100%;
    color: #333333;
    border-bottom: 1px solid #E8E8E8;
    position: sticky;
    top: 0;
    background: #F8F8F8;
}

div#nav {
    max-width: 960px;
    padding: 0 20px 0 20px;
    margin-left: auto;
    margin-right: auto;
    line-height: 50px;
}

a.navlink {
    padding: 0 10px 0 10px;
    font-weight: bold;
    font-family: 'DINPro Medium', 'Helvetica', 'Arial', 'Verdana', sans-serif;
    color: #333333;
    text-decoration: none;
}

a.navlink:hover {
    color: #0055aa;
}

a.navlink.selected {
    text-decoration: underline;
}

a.navlink:first-child {
    padding-left: 0;
}

a.navlink:last-child {
    padding-right: 0;
}

div#body_container {
    max-width: 960px;
    padding: 0 20px 0 20px;
    margin-left: auto;
    margin-right: auto;
    color: #333333;
    width: 100%;
}

div#footer_container {
    height: 50px;
    width: 100%;
    color: #333333;
    border-top: 1px solid #E8E8E8;
    position: absolute;
    bottom: 0;
}

div#footer {
    max-width: 960px;
    padding: 0 20px 0 20px;
    margin-left: auto;
    margin-right: auto;
    line-height: 50px;
}

a {
    color: #0055aa;
}

a:hover {
    color: #333333;
}

img.downloadIcon {
    width: 64px;
    height: 64px;
    margin-right: 1em;
}

hr {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #e8e8e8;
}

div.downloadCell {
    display: inline-block;
    vertical-align: top;
}

b {
    font-family: 'DINPro Medium', 'Helvetica', 'Arial', 'Verdana', sans-serif;
}
