[Desktop Entry]
Type=Application
Name=AstraStack
StartupWMClass=AstraStack
Comment=Astronomy Stacking Application
Exec=/usr/bin/astrastack
Terminal=false
Categories=Application;
Icon=/usr/lib/astrastack/ui/logo.png
