[Desktop Entry]
Type=Application
Name=AstraStack
StartupWMClass=AstraStack
Comment=Astronomy Stacking Application
Exec=astrastack
Terminal=false
Categories=Application;
Icon=ui/logo.png
